#root {
	height: 100%;
	/* background-color: #282c34; */
	/* background-color: #3b8bea; */
	background-color: #314d71;
	/* background: rgb(181, 184, 186);
	background: linear-gradient(
		180deg,
		rgba(181, 184, 186, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	); */
	/* background: rgb(17, 61, 106);
	background: linear-gradient(
		180deg,
		rgba(17, 61, 106, 1) 0%,
		rgba(122, 181, 241, 1) 100%
	); */
	overflow: hidden;
}

.main {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 0% 1%;
}

.projects {
	display: flex;
	flex-direction: row;
}

.headshot:hover {
	transform: scale(1.05);
}

.headshot {
	border-radius: 50%;
	transition: transform 0.5s;
	box-shadow: 0 0 10px whitesmoke;
}

.headshotContainer {
	max-width: 25%;
	min-width: 200px;
	margin: 25px auto;
	position: relative;
}

.project-card:hover {
	transform: scale(1.05);
	z-index: 1;
}

.project-card {
	transition: transform 0.5s;
}

.production-badge {
	position: absolute;
	top: 3%;
	left: 3%;
	display: flex;
	align-items: center;
}

.badge-text {
	margin-left: 5%;
}

.overlayContainer {
	transform: scale(0.95);
}

.overlay {
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	height: auto;
	width: inherit;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}

.project-card:hover .overlay {
	opacity: 1;
}

.project-card:hover .project-details {
	opacity: 1;
}

.project-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	height: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}

.text-responsive {
	font-size: calc(1em + 0.3vw);
}

.techIcon {
	font-size: 200%;
}
