.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 75px;
}

.App-link {
  color: #61dafb;
}

.projects{
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
}

/* .project-card:hover {
  transform: scale(1.05)
}

.project-card {
  transition: transform 1s;
} */

.project-card .overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.project-card:hover .overlay{
  opacity: 1;
}

.project-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.project-card:hover .project-details{
  /* top: 10%;
  left: 10%; */
  opacity: 1;
}

.techIcon {
  font-size: 200%;
}

/* .techBanner:hover #test{
  transition: 1s;
  left: 0;
} */


  /* #test {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: icon-slide 15s infinite;
  }


@keyframes icon-slide {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
