* {
	scroll-behavior: smooth;
}

#root {
	height: 100%;
	background-color: #0b1a2e;
	overflow: hidden;
}

.main {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: #ccd6f5;
	/* padding: 0% 1%; */
}

.top-nav {
	z-index: 999;
	background-color: #0b1a2e;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	font-size: 0.9rem;
	padding: 20px 20px;
}

.navbar-link {
	margin: 0px 2%;
}

.navbar-number {
	color: #1982fc;
}

.navbar-text {
	color: #ccd6f5;
	transition: 0.25s;
}

.navbar-text:hover {
	color: #1982fc;
	text-decoration: none;
}

.resume-box {
	border: 1px solid #1982fc;
	background-color: transparent;
	border-radius: 5%;
	padding: 0.5%;
	color: #1982fc;
	cursor: pointer;
	margin-left: 2%;
}

.resume-box:hover {
	background-color: rgba(137, 178, 245, 0.1);
}

.link-text:hover {
	color: #1982fc;
	text-decoration: none;
}

.logo {
	font-size: 2rem;
	margin-right: auto;
}

.projects {
	display: flex;
	flex-direction: row;
}

.headshot:hover {
	transform: scale(1.05);
}

.headshot {
	border-radius: 50%;
	transition: transform 0.5s;
	box-shadow: 0 0 10px whitesmoke;
}

.headshotContainer {
	max-width: 25%;
	min-width: 200px;
	margin: 25px auto;
	position: relative;
}

.project-card:hover {
	transform: scale(1.05);
	z-index: 1;
}

.project-card {
	cursor: pointer;
	transition: transform 0.5s;
}

.production-badge {
	position: absolute;
	top: 2%;
	left: 2%;
	display: flex;
	align-items: center;
}

.badge-text {
	margin-left: 5%;
}

.overlayContainer {
	transform: scale(0.95);
}

.overlay {
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	height: auto;
	width: inherit;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}

.project-card:hover .overlay {
	opacity: 1;
}

.project-card:hover .project-details {
	opacity: 1;
}

.project-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	height: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}

.text-responsive {
	font-size: calc(1em + 0.3vw);
}

.techIcon {
	font-size: 200%;
}
